.wrapper {
    width: 305px;
    height: 275px;
    display: flex;
    flex-direction: column;
    background: #F4F8FF;
    box-sizing: border-box;
    padding: 30px;
}

.wrapper :first-child {
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 50%;
    background-color: #FFCA42;
    font-family: Cardo;
    font-size: 23px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #1B3764;
    box-sizing: border-box;
    padding: 10px;
}

.wrapper :last-child {
    font-family: Cardo;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #1B3764;
    margin: 0;
    margin-top: 20px;
}